<footer class="bd-footer">
    <div class="container">
        <div class="row text-light fs-5 py-2">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-box ">
                    <h3 class="text-warning text-center">Métodos de pago</h3>
                    <p class="textoPiePagina">Nuestro sitio web de ventas de disfraces 
                        ofrece varios tipos de pago para brindar comodidad a nuestros clientes.
                         La facilidad y la seguridad son nuestra prioridad para que tu
                          experiencia de compra sea la mejor posible.
                    </p>
                    <div class="tarjetas text-center">
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa fa-credit-card"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="text-center">
                    <h2 class="text-light">Navegación</h2>
                    <li><a href="#" class="text-light-emphasis">Contacto</a></li>
                    <li><a href="#" class="text-light-emphasis">Nosotros</a></li>
                    <li><a href="#" class="text-light-emphasis">Productos</a></li>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="single-box">
                    <h3 class="text-info text-center">Redes sociales</h3>
                    <p class="textoPiePagina">¡Síguenos en nuestras redes sociales! En nuestras cuentas de Facebook, 
                        Instagram y Twitter, encontrarás contenido exclusivo, promociones 
                        especiales y muchas ideas para inspirarte en tus próximas celebraciones. Además, estarás siempre informado de nuestras últimas ofertas y descuentos.
                    </p>
                    <div class="text-center">
                       <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center bg-dark text-light fs-5 p-2">
        <h5 class="m-0">2023@Disfraces Trueno - Todos los derechos reservados</h5>
    </div>
</footer>