<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-box">
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Debitis animi nam voluptatibus voluptas, vero obcaecati 
                        incidunt vitae cupiditate perferendis facilis recusandae 
                        fugiat possimus magnam velit corrupti accusamus neque ut
                         impedit.
                    </p>
                    <h3>Métodos de pago</h3>
                    <div class="card-area">
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa fa-credit-card"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-box">
                    <h2>Navegación</h2>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Productos</a></li>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-box">
                    <img src="" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Debitis animi nam voluptatibus voluptas, vero obcaecati 
                        incidunt vitae cupiditate perferendis facilis recusandae 
                        fugiat possimus magnam velit corrupti accusamus neque ut
                         impedit.
                    </p>
                    <h3>Redes sociales</h3>
                    <p class="social">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>