<%-include('partials/encabezado.html');%>
<div class="container-fluid">
    <div class="row">

    
    <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">Imágen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td class="col-2 text-center"><img src="./img/disfraz1.jpeg" width="100%" alt=""></td>
            <td>Disfraz1</td>
            <td>100</td>
            <td>$$$</td>
            <td><button class="btn btn-outline-danger">Eliminar</button></td>
          </tr>
          <tr>
            <td class="col-2 text-center"><img src="./img/disfraz2.jpg" width="100%" alt=""></td>
            <td>Disfraz2</td>
            <td>200</td>
            <td>$$$</td>
            <td><button class="btn btn-outline-danger">Eliminar</button></td>
          </tr>
          <tr>
            <td class="col-2 text-center"><img src="./img/disfraz3.jpg" width="100%" alt=""></td>
            <td>Disfraz3</td>
            <td>50</td>
            <td>$$$</td>
            <td><button class="btn btn-outline-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
      <div class="row fs-3 text-end">
        <div class="col-12">Total a pagar: $$$</div>
      </div>
      <div class="row mb-2 d-grid gap-2">
        <button class="btn btn-outline-success">Pagar</button>
        <button class="btn btn-outline-warning">Vaciar carrito</button>
      </div>
    </div>
</div>
<%-include('partials/piePagina.html');%>