<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="./css/estilos.css">
    <script src="https://kit.fontawesome.com/ae606561a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/productos.css">
    <link rel="stylesheet" href="./css/mostrador.css">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/jquery-3.2.1.js"></script>
	  <script src="./js/script.js"></script>
    <script src="../js/carrito.js"></script>
    <title><%=titulo%></title>
</head>
<body onload="mostrarCarrito()">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <!--Poner imagen o logo de la empresa-->
          <a class="navbar-brand" href="/"> <i class="fa-solid fa-bolt mx-2" ></i>Disfraces Trueno</a> 
          <br>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link <%if(titulo == 'Nosotros'){%>active<%}%>" href="/Nosotros">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%if(titulo == 'Contactos'){%>active<%}%>" href="/Contactos">Contactos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%if(titulo == 'Productos'){%>active<%}%>" href="/Productos">Productos</a>
              </li>
            </ul>
            

            <form action="/login" method="get">
              <% if(cliente==="") {%>
              <button class="btn --bs-light-text mx-2 my-3" type="submit"><i class="fa-solid fa-user"></i><br>Iniciar Sesión</button>
              <% } else{%>
                
                <a class="btn --bs-light-text mx-2 my-3" href="/cerrarSesion" method="post"><i class="fa-sharp fa-solid fa-door-open"></i><br>Salir<br></a>
                <a class="btn --bs-light-text mx-2 my-3"><i class="fa-solid fa-user"></i><br>Bienvenido<br></a>
                <a class="btn --bs-light-text mx-2 my-3" href="/carrito" method="get"><i class="fa-solid fa-cart-shopping"></i></i><br> Compras <br></a>
                
              <% } %>
            </form>
          </div>
        </div>
      </nav>




<div class="container-xl" id="#contenidoCarrito">
  
</div>

<script src="./css/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>
   
</body>
</html>

<%-include('partials/piePagina.html');%>