<%-include('partials/encabezado.html');%>
<div class="fondoDisfraces">
    <img src="./img/disfracesBanner.png" class="d-block w-100 shadow-1-strong" alt="Banner empresa">
    <div class="container-fluid">
        <br>
        <div class="container" id="carousel">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./img/disfracesMujerCarousel.png" class="d-block w-100 shadow-1-strong rounded-5 img-fluid" alt="Carousel 1, disfraces de mujer">
                    </div>
                    <div class="carousel-item">
                        <img src="./img/disfracesNiñasCarousel.png" class="d-block w-100 shadow-1-strong rounded-5 img-fluid" alt="Carousel 2, disfraces para niñas">
                    </div>  
                    <div class="carousel-item">
                        <img src="./img/aceptamosMetodosPagoCarousel.png" class="d-block w-100 shadow-1-strong rounded-5 img-fluid" alt="Carousel 3, ahora aceptamos los siguientes métodos de pago">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 col-sm-5">
                <div class="sticky-top">
                    <center>
                        <br>
                        <div class="btn-group">
                            <ul class="list-group dropdown dropdown-end">
                                <li class="list-group-item active" aria-current="true">Categorías</li>
                                <li class="list-group-item dropdown-toggle btn btn-info text-start rounded-0" href="#" role="button" id="hombresDropdown" data-bs-toggle="dropdown" aria-expanded="false">Disfraces para hombres</li>
                                <div class="dropdown-menu bg-info" aria-labelledby="hombresDropdown">
                                    <% for(let i=0;i<categorias.length;i++){%>
                                        <a class="dropdown-item btn btn-light" href="/Productos/<%= categorias[i].idCategoria %>"><%= categorias[i].nombreCategoria %></a>
                                    <% } %>
                                </div>
                                <li class="list-group-item dropdown-toggle btn btn-info text-start rounded-0" href="#" role="button" id="mujeresDropdown" data-bs-toggle="dropdown" aria-expanded="false">Disfraces para mujeres</li>
                                <div class="dropdown-menu bg-info" aria-labelledby="mujeresDropdown">
                                    <% for(let i=0;i<categorias.length;i++){%>
                                        <a class="dropdown-item btn btn-light" href="/Productos/<%= categorias[i].idCategoria %>"><%= categorias[i].nombreCategoria %></a>
                                    <% } %>
                                </div>
                                <li class="list-group-item dropdown-toggle btn btn-info text-start rounded-0" href="#" role="button" id="niñosDropdown" data-bs-toggle="dropdown" aria-expanded="false">Disfraces para niños</li>
                                <div class="dropdown-menu bg-info" aria-labelledby="niñosDropdown">
                                    <% for(let i=0;i<categorias.length;i++){%>
                                        <a class="dropdown-item btn btn-light" href="/Productos/<%= categorias[i].idCategoria %>"><%= categorias[i].nombreCategoria %></a>
                                    <% } %>
                                </div>
                                <li class="list-group-item dropdown-toggle btn btn-info text-start rounded-0 rounded-bottom" href="#" role="button" id="mascotasDropdown" data-bs-toggle="dropdown" aria-expanded="false">Disfraces para mascotas</li>
                                <div class="dropdown-menu bg-info" aria-labelledby="mascotasDropdown">
                                    <% for(let i=0;i<categorias.length;i++){%>
                                        <a class="dropdown-item btn btn-light" href="/Productos/<%= categorias[i].idCategoria %>"><%= categorias[i].nombreCategoria %></a>
                                    <% } %>
                                </div>
                            </ul>
                        </div>
                        <br>
                        <br>
                        <img src="./img/tarjetas.png" class="w-50" alt="Pagos con tarjeta">
                    </center>
                </div>
                <br>
                <br>
            </div>
            <div class="col-lg-9 col-sm-7">
                <div class="row">  
                    <h2 class="display-2 text-center mb-3">Productos destacados</h2>
                    <div class="col-4">
                        <div class="card mb-4 border border-secondary">
                            <div class="hover-card">
                                <div class="imagen">
                                    <a href="#">
                                        <img src="./img/disfraz3.jpg" class="w-100 shadow-1-strong rounded-top card-image-top"/>
                                        <div class="overlay">
                                            <div class="text">COMPRAR</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Disfraz súper popular después del lanzamiento de la nueva película de Halloween</p>
                            </div>
                        </div>
                        <div class="card mb-4 border border-secondary">
                            <div class="hover-card">
                                <div class="imagen">
                                    <a href="#">
                                        <img src="./img/disfraz5.jpg" class="w-100 shadow-1-strong rounded-top card-image-top"/>
                                        <div class="overlay">
                                            <div class="text">COMPRAR</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Nuestro popular disfraz de diabla 100% original de la casa, ¡a un súper precio!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card mb-4 border border-secondary">
                            <div class="hover-card">
                                <div class="imagen">
                                    <a href="#">
                                        <img src="./img/disfraz4.jpg" class="w-100 shadow-1-strong rounded-top card-image-top"/>
                                        <div class="overlay">
                                            <div class="text">COMPRAR</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">¡Sombreros de Halloween en oferta!</p>
                            </div>
                        </div>
                        <div class="card mb-4 border border-secondary">
                            <div class="hover-card">
                                <div class="imagen">
                                    <a href="#">
                                        <img src="./img/disfraz1.jpeg" class="w-100 shadow-1-strong rounded-top card-image-top"/>
                                        <div class="overlay">
                                            <div class="text">COMPRAR</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Disfraz del Joker de Juaquín el Fénix Pérez, ¡100% mexicano!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card mb-4 border border-secondary">
                            <div class="hover-card">
                                <div class="imagen">
                                    <a href="#">
                                        <img src="./img/disfraz4.jpg" class="w-100 shadow-1-strong rounded-top card-image-top"/>
                                        <div class="overlay">
                                            <div class="text">COMPRAR</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">¡Sombreros de Halloween en oferta!</p>
                            </div>
                        </div>
                        <div class="card mb-4 border border-secondary">
                            <div class="hover-card">
                                <div class="imagen">
                                    <a href="#">
                                        <img src="./img/disfraz1.jpeg" class="w-100 shadow-1-strong rounded-top card-image-top"/>
                                        <div class="overlay">
                                            <div class="text">COMPRAR</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Disfraz del Joker de Juaquín el Fénix Pérez, ¡100% mexicano!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include('partials/piePagina.html');%>