<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>

    <div class="fondoDisfraces">
        <form action="/insertarProducto" method="post" enctype="multipart/form-data"></form>
        <br>
        <div class="wrap">
            <h1 class="display-1 text-dark">Escoge un disfraz</h1>
            <div class="store-wrapper">
                <div class="category_list">
                    <div class="form-group row mb-4">
                        <form action="/filtroCategoria" method="post">
                        <h2>Categorias</h2>
                        <br>
                        <div class="col">
                            <br>
                            <select name="idCategoria" id="" class="form-select">
                                <option value="#">Todos</option>
                                <% if(categorias){%>
                                    <% for(let i=0;i<categorias.length;i++){%>
                                        <option value="<%= categorias[i].idCategoria %>"><%= categorias[i].nombreCategoria %></option>
                                    <% } %>
                                <%} %>
                            </select>
                        </div>
                        <button class="btn --bs-light-text mx-2 my-3" type="submit">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    </div>
                </div>
                    
                <section class="products-list" class="cotenido">
                    <!--Diseño de despligue-->
                    <% if(productos){%>
                        <% for(let i=0;i<productos.length;i++){%> %>
                            <%let estado = productos[i].estatus; %>
                            <%if(estado==1){%>
                                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-3">
                                    <div class="card bg-light mx-1 h-100">
                                        <img src="http://res.cloudinary.com/dpxkp2hie/image/upload/w_1000,h_1000,c_fill,q_90/<%= productos[i].img %>" class="card-img-top">
                                        <div class="card-body pb-2 position-relative">
                                            <h5 class="card-title my-0 text-center"><%= productos[i].nombreProducto  %></h5>
                                            <p class="card-text my-2"><%= productos[i].descripcion %></p>
                                            <p>$<%= productos[i].precio  %></p>
                                            
                                        </div>
                                        <div class="card-footer text-end">
                                            <a class="btn btn-success" onclick="añadirAlCarrito('<%= productos[i].idProducto  %>')">
                                                <span>Añadir al carrito</span>
                                                <i class="fa-solid fa-cart-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                        
                                    
                            <% } %>
                        <% } %>
                    <% } %>
                </section>
                </form>
            </div>

            </div>
            <script src="../js/carrito.js"></script>
    <%-include('partials/piePagina.html');%>
</html>