<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
    

    <div class="fondoDisfraces">
        <form action="/insertarProducto" method="post" enctype="multipart/form-data">
        <br>
        <div class="wrap">
            <h1 class="display-1 text-dark">Escoge un disfraz</h1>
            <div class="store-wrapper">
                <div class="category_list">
                    <div class="form-group row mb-4">
                        <form action="/filtroCategoria" method="post">
                        <h2>Categorias</h2>
                        <br>
                        <div class="col">
                            <br>
                            <select name="idCategoria" id="" class="form-select">
                                <option value="#">Todos</option>
                                <% if(categorias){%>
                                    <% for(let i=0;i<categorias.length;i++){%>
                                        <option value="<%= categorias[i].idCategoria %>"><%= categorias[i].nombreCategoria %></option>
                                    <% } %>
                                <%} %>
                            </select>
                        </div>
                        <button class="btn --bs-light-text mx-2 my-3" type="submit">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    </div>
                
                </div>
                
                    
                <section class="products-list" class="cotenido">
                    <!--Diseño de despligue-->
                    <% if(productos){%>
                        <% for(let i=0;i<productos.length;i++){%> %>
                            <%let estado = productos[i].estatus; %>
                            <%if(estado==1){%>
                            <div class="item" category="bebes" onclick="cargar(this)">
                                <div class="contenedor-foto">
                                    <img src="http://res.cloudinary.com/dpxkp2hie/image/upload/w_1000,h_1000,c_fill,q_90/<%= productos[i].img %>" alt="">
                                </div>
                                <a class="descripcion" style="background-color:rgba(0, 174, 255, 0.993) ;"><%= productos[i].descripcion %></a>
                                <span class="precio">$<%= productos[i].precio %></span>
                                <span class="Existencia esconder"><%= productos[i].cantidad %></span>
                            </div>
                            <% } %>
                                <% } %>
                        <% } %>
                </section>

                </form>
            

            <!-- ventana emergente -->
            <div class="popup-container" style="display:none">
                <div class="popup">
                    <button class="popup-close" id="popup-close">
                        <i class="fa-solid fa-square-xmark fa-2xl" style="color: #e40707;"></i>
                    </button>
                    <img class="popup-image">
                    <h2 class="popup-name"></h2>
                    <p class="popup-price"></p>
                    <% for (var i = 0; i < productos.length; i++) { %>
                    <p class="popup-stock"></p>
                    <% } %>
                    <select class="popup-size ">
                        <option value="" disabled selected>Seleccione cantidad de productos:</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="personalizado">Cantidad personalizada</option>
                    </select>
                    <input type="number" class="cantidad-personalizada esconder" min="1" max="100" placeholder="Ingrese cantidad">
                        
                    <br>
                    <br>
                    <button class="popup-add btn btn-primary">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>




        <br>
    </div>
    <%-include('partials/piePagina.html');%>
</html>