<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>

    </head>
    
        <body>
        <div id="contenedor">
        
            <br>
            <div id="izquierda">
                <!-- poner link de la imagen -->
                <img src=""  alt="">
            </div>
            
            <!-- Segunda parte (centro) -->
            <div id="centro">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod dolor id justo dapibus, sed aliquet velit euismod. Praesent bibendum convallis nibh ac interdum. Sed gravida euismod risus, at facilisis nulla varius a. In eu lorem purus. Mauris feugiat lacus tellus, ut auctor neque eleifend non. Duis vel mauris sagittis, dignissim eros eget, imperdiet lacus. Quisque imperdiet lobortis turpis, ut pharetra lectus fermentum sed.</p>
            </div>
            
            <!-- Tercera parte (derecha) -->
            <div id="derecha">
                <div id="informacion">
                    
                <p></p>
                <p>Entrega GRATIS el Sábado, 15 de Abril. Realiza el pedido en 19 hrs 55 mins</p>
                <p>Enviar a pato - Mazatlan 82127</p>
                <p>Disponible</p>
                </div>
            </div>
        </body>
        </div>
        <!-- Navbar-->
        
    <%-include('partials/piePagina.html');%>
</html>