*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
form{
    display: grid;
    place-items: center;

}
.form-group{
    display: flex;
    flex-direction: row;
}
#labels{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10px;
}
#inputs{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
input{
    margin-top: 3px;
}
#registro,
#login{
    display: grid;
    place-items: center;
}
#registro header img,
#login header h2 img{
    width: 5%;
    height: 5%;
}

#telefono::-webkit-inner-spin-button,
#telefono::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
}

#form{
display: flex;
flex-direction: row;
}
#pe{
    margin-right: 3%;
}
header{
    text-align: center;
    height: 15%;
}
header h1{
    font-size: 300%;
    font-weight: bold;
}
header h1 img{
    float: right;
    width: 5%;
    height: 5%;
}
nav{
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: grey ;
    box-shadow: 0 0 10px black;
    width: 100%;
    
}

nav a{
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    width: 25%;
    border: solid black 1px;
}
nav a:hover{
    background-color: yellow;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.texto{
    font-family: arial;
    text-align: justify;
    justify-self: center;
    padding: 1%;
}
.cuerpo{
    display: flex;
}
#destacado{
    width: 30%;
    float: left;
    margin-right: 1%;
    padding-left: 3%;
    text-align: center;
}

#produc img{
    display: flexbox;
    
    width: 100%;
}
#produc{
    
    font-size: large;
    width: 90% ;
}
#nuevos{
    display: flex;
    justify-content: space-evenly;
}
#prod{
    text-align: center;
}

#producN{
    text-align: center;
    font-size: large;
    border: 1px solid grey;
    width: 25%;
    justify-content: center;
}
#producN img{
    width: 100%;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: grey;
    color: black;
}
#informacion{
    justify-items: center;
}
#filtros{
    width: 20%;
    display: grid;
    place-items: center;
    text-align: justify;
}
#filtros #fil{
    justify-content: left;
}