footer{
    background-color: #343a40;
}
footer i{
    font-size: 2em;
    margin: 0 0.5em;
}
footer li{
    margin-top: 1em;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.tarjetas i{
    margin: 0;
    margin-right: 0.2em;
}
.textoPiePagina{
    text-align: justify;
}
.fa-facebook:hover{
    transition: all 0.5s ease-out;
    color: #4267B2;
    cursor: pointer;
}
.fa-twitter:hover{
    transition: all 0.5s ease-out;
    color: #00acee;
    cursor: pointer;
}
.fa-instagram:hover{
    transition: all 0.5s ease-out;
    color: #C13584;
    cursor: pointer;
}

.fa-bolt{
    color: rgb(255, 238, 0);
}

.list-group.dropend .dropdown-toggle::after {
    display: none;
}
.list-group.dropend.dropdown-end .dropdown-toggle::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%) rotate(-90deg);
    border: solid transparent;
    border-width: 5px;
    border-top-color: rgb(0, 0, 0);
    text-align: left;
}

.hover-card {
    opacity: 1;
    background-color: rgba(113, 227, 255, 0.466);
}

.hover-card:hover img {
    opacity: 0.5;
}

.hover-card:hover .text {
    opacity: 1;
}

.card-text {
    font-size: 1rem;
}


.imagen {
    position: relative;
}

.text {
    color: black;
    font-size: 1.3rem;
    font-weight: bolder;
    font-style: italic;
    position: absolute;
    text-decoration: underline;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

@media (max-width: 576px) {
    .card-text {
        font-size: 0.875rem;
    }

    .text {
        font-size: 1rem;
    }
}

@media (max-width: 385px) {
    .card-text {
        font-size: 0.7rem;
    }

    .text {
        font-size: 0.7rem;
    }
}

.fondoDisfraces {
    background: rgb(75,53,212);
    background: linear-gradient(156deg, rgba(75,53,212,0.9659090909090909) 27%, rgba(255,180,128,1) 100%);
}